{% extends "base.html" %}

{% block title %}
  <title>Karts</title>
{% endblock %}

{% block content %}
  <h2>Kart List</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Speed</th>
    </tr>
    </thead>
    <tbody>
    {% for kart in karts %}
      <tr>
        <td>
          <a href="{% url 'karting:kart-detail' kart.pk %}">{{ kart.name }}</a>>
        </td>
        <td>{{ kart.category.name }}</td>
        <td>{{ kart.speed }} km/h</td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="3">No karts available.</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}