{% extends "base.html" %}

{% block title %}
  <title>{{ race.name }} Details</title>
{% endblock %}

{% block content %}
  <h2>{{ race.name }}</h2>
  <p><strong>Date:</strong> {{ race.date }}</p>
  <p><strong>Category:</strong> {{ race.category.name }}</p>

  {% if user.is_authenticated %}
    {% if is_eligible %}
      <a href="{% url 'karting:register-for-race' race.id %}" class="btn btn-primary">Sign Up for this Race</a>
    {% else %}
      <p class="text-muted">You are not eligible to participate in this race due to age restrictions.</p>
    {% endif %}
  {% else %}
    <p class="text-muted">You must be <a href="{% url 'accounts:login' %}">logged</a> in to register for the race.</p>
  {% endif %}
    {% if user.is_staff %}
      <a href="{% url 'karting:race-update' pk=race.id %}" class="btn btn-warning mt-2">Update Race</a>
      <a href="{% url 'karting:race-delete' pk=race.id %}" class="btn btn-danger link-to-page">Delete</a>
    {% endif %}
  <br>
  <a href="{% url 'karting:race-list' %}">Back to Race List</a>
{% endblock %}
