{% extends "base/base.html" %}

{% block content %}
  <div class="container mt-5">
    <h1 class="mb-4 text-center">Upcoming Races</h1>
    {% if user.is_authenticated and user.is_staff %}
      <a href="{% url 'karting:race-create' %}" class="btn btn-success mb-3">Create New Race</a>
    {% endif %}

    {% if race_list %}
      <div class="row">
        {% for race in race_list %}
          <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
              <div class="card-body">
                <h5 class="card-title">
                  {{ race.name }}
                </h5>
                <p class="card-text">
                  <strong>Category:</strong> {{ race.category.name }}<br>
                  <strong>Date:</strong> {{ race.date }}
                </p>
              </div>
              <div class="card-footer text-center">
                <a href="{% url 'karting:race-detail' pk=race.id %}" class="btn btn-primary">View Details</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <div class="alert alert-warning text-center" role="alert">
        There are no upcoming races in the schedule.
      </div>
    {% endif %}
  </div>
{% endblock %}